.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.box {
    width: 200px;
    text-align: center;
    border: 1px solid #8d4925;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.box img {
    width: 100%;
    height: auto;
}
.box:hover {
    background-color: #c57d56;
}

a {
    text-decoration: none;
}
