* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #f9e4b7;
}

.cabecalho {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    position: relative;
    background-color: #C57D56;
    min-height: 30vh;
}

.cabecalho h1 {
    text-align: center;
    margin: 0;
}

.cabecalho .header-content {
    position: absolute;
    left: 0;
    right: 0;
}

.cabecalho #logo-container {
    position: absolute;
    left: 5;
}

.title-div {
    background-color: #8d4925;
    text-align: center;
}

.titulo {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    color: white;   
}

main {
    min-height: 70vh;
}