/*                 classes gerais              */

a {
    text-decoration: none;
    color: white;
}

.flex {
    display: flex;
    flex-direction: column;
}

/*                  Fim                            */

.title-div .subtitulo {
    margin: 0;
}

/*                  Main                  */

main {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #f9e4b7;
    min-height: 70vh;
}



.wrapper {
    background-color: #C57D56;
    max-height: 270px;
    border-radius: 8px;
    padding: 8px 15px;
    margin-top: 5%;
    text-align: center;
    width: 320px;
    cursor: pointer;
}

.subtitulo {
    margin-bottom: 13px;
}